.footer {
  color: rgba(33, 33, 33, 0.7);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 104px;
  height: 16px;
  padding: 60px 668px;
  white-space: nowrap;
}
