.footer {
  color: rgba(33, 33, 33, 0.7);
  width: 100%;
  font-size: 16px;
  line-height: 1;
  padding: 60px 0;
}

.footer__copyright {
  margin: 0 auto;
  max-width: 104px;
  white-space: nowrap;
  text-align: center;
}
